/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.clients__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 26px;
}

.clients__table-wrap {
  position: relative;
  margin-bottom: 40px;
}

.clients__table {
  z-index: 3;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.clients__table-namewrap {
  background-color: #fff;
}

.clients__table-name {
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-grey);
  text-align: start;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.th-alphabet {
  color: var(--logo-purple);
  opacity: 0.7;
  font-size: 10px;
  font-weight: 600;
}

.clients__table-name:not(:nth-last-child(-n+2)):hover {
  color: var(--color-black);
}

.clients__table-name:not(:nth-last-child(-n+2)):active {
  color: var(--color-purple);
}

.clients__table-name:not(:last-child) {
  padding-right: 7px;
}

.clients__table-name:not(:nth-last-child(-n+2)) {
  cursor: pointer;
}

.clients__table-sort {
  opacity: 0.7;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.clients__table-name:not(:nth-last-child(-n+2)):hover .clients__table-sort,
.clients__table-name:not(:nth-last-child(-n+2)):active .clients__table-sort {
  opacity: 1;
}

.clients__table-name:first-child {
  padding-left: 20px;
}

.clients__table-name:first-child .clients__table-sort {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.column-active,
.column-active .clients__table-sort {
  color: var(--color-purple);
  opacity: 1;
}

.column-active #sort-id {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.column-active .clients__table-sort {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.clients__table-body {
  background-color: #fff;
}

.clients__table-bodyrow:not(:last-child) {
  border-bottom: 1px solid rgba(200, 197, 209, 0.20);
}

.clients__table-descr {
  padding: 20px 0;
}

.clients__table-descr:first-child {
  padding-left: 20px;
  padding-right: 40px;
  font-size: 12px;
  color: var(--color-grey);
}

.clients__table-descr:last-child {
  padding-right: 20px;
}

.contacts-cell {
  padding: 10px 0;
}

.actions-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__table-date {
  margin-right: 7px;
}

.clients__table-time {
  color: var(--color-grey);
}

.clients__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 7px;
  margin: 0;
  padding: 0;
  max-width: 110px;
}

.clients__contacts-item {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.clients__contact-active .clients__contacts-item:not(:nth-child(-n + 4)) {
  display: none;
}

.clients__contact-others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 16px;
  height: 16px;
  font-size: 8px;
  font-weight: 600;
  color: var(--color-black);
  border-radius: 100%;
  border: 1px solid var(--color-purple);
  cursor: pointer;
}

.clients__contact-btn {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.clients__contact-icon {
  fill: rgba(152, 115, 255, .7);
  -webkit-transition: fill .2s ease-in-out;
  -o-transition: fill .2s ease-in-out;
  transition: fill .2s ease-in-out;
}

.clients__contact-icon circle {
  -webkit-transition: fill .2s ease-in-out;
  -o-transition: fill .2s ease-in-out;
  transition: fill .2s ease-in-out;
}

.clients__contact-icon circle {
  fill: rgba(152, 115, 255, .7);
}

.clients__contact-icon:hover,
.clients__contact-icon:hover circle {
  fill: var(--color-purple);
}

.clients__table-change,
.clients__table-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.actions-cell {
  gap: 30px;
}


.clients__table-change:hover {
  color: var(--color-purple);

}

.clients__table-delete:hover {
  color: var(--color-red);
}

.clients__table-changeicon,
.clients__table-deleteicon {
  width: 16px;
  height: 16px;
}

.clients__table-loadingicon {
  -webkit-animation: spin .6s linear infinite;
  animation: spin .6s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.clients__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.clients__btn {
  padding: 13px 26px;
  border: 1px solid var(--color-purple);
  color: var(--color-purple);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  outline: none;
}

.clients__btn-icon {
  margin-right: 10px;
}

.clients__btn-icon path {
  fill: var(--color-purple);
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.clients__btn:hover,
.clients__btn:focus-visible {
  color: #fff;
  background: var(--color-purple);
  opacity: 0.7;
}

.clients__btn:disabled {
  border: 1px solid var(--grey);
  color: var(--grey);
}

.clients__btn:hover .clients__btn-icon path,
.clients__btn:focus-visible .clients__btn-icon path,
.clients__btn:active .clients__btn-icon path {
  fill: #fff;
}

.clients__btn:active {
  background-color: var(--purple-active);
  color: #fff;
  opacity: 1;
}
